# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
env/

# Caches and Temporary Files
.numba_cache/*
!.numba_cache/.gitkeep
.cache/
.pytest_cache/

# Bot Logs and Secrets
*.log
config_macd.json
.env

# OS Metadata
.DS_Store
Thumbs.db