name: Build AOT Image

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *"   # daily build at midnight UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and cache image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: macd-unified-aot:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
