
name: Run MACD Bot

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/manojpy/github-cron/macd-unified-aot:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Run Bot
        env:
          # Pass secrets directly as Environment Variables
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          DELTA_API_BASE: ${{ secrets.DELTA_API_BASE }}
          NUMBA_THREADING_LAYER: tbb
          NUMBA_NUM_THREADS: 2
        # Use the absolute path defined in your Dockerfile
        run: python /app/src/macd_unified.py